.box {
  padding: 0.625rem 0.625rem;
  background-color: black;
  position: relative;
  width: 100%;
}
.boxcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 62.5rem;
  margin: 0 auto;
}
.boxrow {
  display: grid;
  margin-left: 9.375rem;
  grid-template-columns: repeat(auto-fill, minmax(11.563rem, 1fr));
  grid-gap: 0.625rem;
}
.boxcolumn {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 3.125rem;
}
.header {
  font-size: 1.125rem;
  color: rgb(255, 255, 255);
  margin-bottom: 0.625rem;
  font-weight: bold;
}
.flinks {
  color: rgb(255, 255, 255);
  margin-bottom: 0.313rem;
  font-size: 0.75rem;
  text-decoration: none;
  cursor: pointer;
}
.flinks:hover {
  color: green;
  transition: 200ms ease-in;
}