
.loginpage{
  width: 100%;
  height: 100vh;
  background-size: cover;
}
.login {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .loginTitle {
    font-size: 1.875rem;
    border: 10cm;
  }
  .error{
    color: red;
    position: relative;
    right: 21.875rem;
    display: inline-block;
  }
  .loginForm {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: left;
  }
  
  .loginForm > label {
    margin: 0.625rem 0;
  }
  
  .loginInput {
    padding: 1.25rem;
    width: 12.5rem;
    background-color: white;
    border: none;
    border-radius: 0.938rem;
    box-shadow: inset 0.625rem 0.625rem 0.625rem rgba(190,1,254,0.05),
    0.938rem 1.563rem 0.625rem rgba(190,1,254,0.05),
    0.938rem 1.25rem 1.25rem rgba(190,1,254,0.05),
    inset -0.625rem -0.625rem 0.938rem rgba(255,255,255,0.9);
  }
  
  .loginInput:focus {
    outline: none;
  }
  
  .loginButton {
    margin-top: 1.25rem;
    width: 6.25rem;
    cursor: pointer;
    background-color: #99e0dc;
    color: black;
    padding: 1.25rem;
    border: none;
    border-radius: 1.563rem;
    text-align: center;
    box-shadow: inset 0.625rem 0.625rem 0.625rem rgba(190,1,254,0.05),
    0.938rem 1.563rem 0.625rem rgba(190,1,254,0.05),
    0.938rem 1.25rem 1.25rem rgba(190,1,254,0.05),
    inset -0.625rem -0.625rem 0.938rem #99e0dc;
  }
  
  .loginRegisterButton,.homebutton {
    position: absolute;
    padding: 4.375rem;
    top: 12.5rem;
    right: 0.625rem;
    display: flex;
    background: #99e0dc;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 7.5rem;
    height: 7.5rem;
    line-height: 1.2rem;
    letter-spacing: 0.1rem;
    font-size: 0.8rem;
    border: none;
    color: black;
    border-radius: 1.563rem;
    box-shadow: inset 0.625rem 0.625rem 0.625rem rgba(190,1,254,0.05),
    0.938rem 1.563rem 0.625rem rgba(190,1,254,0.05),
    0.938rem 1.25rem 1.25rem rgba(190,1,254,0.05),
    inset -0.625rem -0.625rem 0.938rem rgba(255,255,255,0.9);
    transition: 0.25s;
    border-radius: 31% 69% 65% 35% / 57% 55% 45% 43%  ;
    text-align: center;
  }
  .loginRegisterButton:hover,.homebutton:hover{
    border-radius: 50%;
  }
  .loginRegisterButton::before,.homebutton::before{
    content: '';
    top: 0.938rem;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background: #ffff;
    opacity: 0.45;
  }

 .homeRegisterButton {
    position: absolute;
    top: 4.375rem;
    right: 67.5rem;
    background-color: #7DB9B6;
    cursor: pointer;
    padding: 0.938rem 3.125rem;
    border: none;
    color: white;
    border-radius: 1.563rem;
  } 

  .drop{
    position: relative;
    padding: 6.25rem;
    left: 12.5rem;
    width: 15.625rem;
    height: 15.625rem;
    box-shadow: inset 1.25rem 1.25rem 1.25rem rgba(0,0,0,0.05),
    1.563rem 2.188rem 1.25rem rgba(0,0,0,0.05),
    1.563rem 1.875rem 1.875rem rgba(0,0,0,0.05),
    inset -1.25rem -1.25rem 1.563rem rgba(255,255,255,0.9);
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50% 49% 30% 70% / 50% 36% 64% 45%  ;
  }
  
  .drop:hover{
    border-radius: 50%;
  }
  .drop::before{
    content: '' ;
    position: absolute;
    top: 3.125rem;
    left: 5.313rem;
    width: 2.188rem;
    height: 2.188rem;
    border-radius: 50%;
    background: #ffff;
    opacity: 0.9;
  }

  .drop::after
  {
    content: '' ;
    position: absolute;
    top: 5.625rem;
    left: 6.875rem;
    width: 0.938rem;
    height: 0.938rem;
    border-radius: 50%;
    background: #ffff;
    opacity: 0.9;
  }

.homebutton{
  padding: 1.25rem;
  position: relative;
  border: none;
  border-radius: 1.563rem;
  background: #99e0dc;
  cursor: pointer;
  left: 71.875rem;
  top: 1.25rem;
   border-radius: 1.563rem;
    box-shadow: inset 0.625rem 0.625rem 0.625rem rgba(190,1,254,0.05),
    0.938rem 1.563rem 0.625rem rgba(190,1,254,0.05),
    0.938rem 1.25rem 1.25rem rgba(190,1,254,0.05),
    inset -0.625rem -0.625rem 0.938rem rgba(255,255,255,0.9);
    transition: 0.25s;
    border-radius: 31% 69% 65% 35% / 57% 55% 45% 43%  ;
    text-align: center;
}

.logcir{
  position: absolute;
  top: 0rem;
  right: 50rem;
  width: 100%;
  height: 100%;
  background-color: #99e0dc;
  clip-path: circle(37.5rem );
}

.logipic{
  position: absolute;
  top: 1.25rem;
  height: 31.25rem;
  width: 31.25rem;
}