.registration {
  background-color: #F5E9CF;

}

.div1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.registrationTitle {
  font-size: 1.875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error {
  color: red;
  margin-left: 4.375rem;
  display: inline-block;
}

.registrationForm>label {
  margin: 0.625rem 0;
}

.registrationForm {
  top: -1.25rem;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.registrationInput {
  padding: 0.625rem;
  width: 12.5rem;
  background-color: rgb(255, 255, 255);
  border-radius: 1.563rem;
}

.registrationInput:focus {
  outline: none;
}

.registrationButton {
  width: 6.25rem;
  cursor: pointer;
  background-color: lightcoral;
  color: white;
  padding: 0.625rem;
  border: none;
  border-radius: 1.563rem;
  text-align: center;
}

.reg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #7DB9B6;
  clip-path: circle(25rem at left 18.75rem);
}

.registermain {
  position: relative;
  top: 6.25rem;
  left: 1.25rem;
  font-size: 3.125rem;
  color: azure;
  font-family: cursive;
}

.sufi {
  position: relative;
  top: 6.25rem;
  left: 1.25rem;
  color: azure;
  font-size: 1.25rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.Regim {
  position: absolute;
  top: 13.75rem;
  left: 3.75rem;
  width: 18.75rem;
  height: 18.75rem;
  border-radius: 50%;

}


.drop5 {
  position: relative;
  padding: 6.25rem;
  top: -6.25rem;
  left: -18.75rem;
  width: 18.75rem;
  height: 21.875rem;
  box-shadow: inset 1.25rem 1.25rem 1.25rem rgba(0, 0, 0, 0.05),
    1.563rem 2.188rem 1.25rem rgba(0, 0, 0, 0.05),
    1.563rem 1.875rem 1.875rem rgba(0, 0, 0, 0.05),
    inset -1.25rem -1.25rem 1.563rem rgba(255, 255, 255, 0.9);
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 72% 28% 70% 30% / 49% 58% 42% 51%;
}

.drop5:hover {
  border-radius: 50%;
}

.drop5::before {
  content: '';
  position: absolute;
  top: -1.25rem;
  left: 5.313rem;
  width: 2.188rem;
  height: 2.188rem;
  border-radius: 50%;
  background: #ffff;
  opacity: 0.9;
}

.drop5::after {
  content: '';
  position: absolute;
  top: 1.25rem;
  left: 6.875rem;
  width: 0.938rem;
  height: 0.938rem;
  border-radius: 50%;
  background: #ffff;
  opacity: 0.9;
}


.registrationLoginButton,
.homeLoginButton {
  position: absolute;
  padding: 4.375rem;
  top: 12.5rem;
  right: 0.625rem;
  display: flex;
  background: #99e0dc;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 7.5rem;
  height: 7.5rem;
  line-height: 1.2rem;
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
  border: none;
  color: black;
  border-radius: 1.563rem;
  box-shadow: inset 0.625rem 0.625rem 0.625rem rgba(190, 1, 254, 0.05),
    0.938rem 1.563rem 0.625rem rgba(190, 1, 254, 0.05),
    0.938rem 1.25rem 1.25rem rgba(190, 1, 254, 0.05),
    inset -0.625rem -0.625rem 0.938rem rgba(255, 255, 255, 0.9);
  transition: 0.25s;
  border-radius: 31% 69% 65% 35% / 57% 55% 45% 43%;
  text-align: center;
}

.registrationLoginButton:hover,
.homeLoginButton:hover {
  border-radius: 50%;
}

.registrationLoginButton::before,
.homeLoginButton::before {
  content: '';
  top: 0.938rem;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  background: #ffff;
  opacity: 0.45;
}

.homeLoginButton,.registrationLoginButton {
  padding: 1.25rem;
  position: relative;
  border: none;
  border-radius: 1.563rem;
  background: #99e0dc;
  cursor: pointer;
  left: 9.375rem;
  top: -23.75rem;
  border-radius: 1.563rem;
  box-shadow: inset 0.625rem 0.625rem 0.625rem rgba(190, 1, 254, 0.05),
    0.938rem 1.563rem 0.625rem rgba(190, 1, 254, 0.05),
    0.938rem 1.25rem 1.25rem rgba(190, 1, 254, 0.05),
    inset -0.625rem -0.625rem 0.938rem rgba(255, 255, 255, 0.9);
  transition: 0.25s;
  border-radius: 31% 69% 65% 35% / 57% 55% 45% 43%;
  text-align: center;
}

.registrationLoginButton{
  position: relative;
  top: -40.625rem;
}