.post {
  width: 24.063rem;
  margin: 0.625rem 0.313rem 2.5rem 1.875rem;
  display: flex;
  flex-direction: column;
}

.postImg {
  width: 18.75rem;
  height: 12.5rem;
  object-fit: cover;
  border-radius: 0.938rem;
  margin-bottom: 0.313rem;
}

.postInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18.75rem;
  height: 6.25rem;
}

.postCat {
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 0.688rem;
  color: #be9656;
  line-height: 1.188rem;
  margin-top: 0.938rem;
  margin-right: 0.625rem;
  cursor: pointer;
}

.postTitle {
  font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  font-weight: 900;
  margin-top: 0.313rem;
  cursor: pointer;
}

.postDate {
  font-family: "Lora", serif;
  font-style: italic;
  font-size: 0.813rem;
  margin-top: -0.625rem;
  font-weight: 400;
  color: #999999;
}

.postDesc {
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #444444;
  margin-top: -2.5rem;
  width: 18.75rem;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}